
<div class="row">
  <div class="col-xs-7">
      <h4 class="list-group-item-heading">Student Registration</h4>
      <form>
        <hr>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label >Firstname</label>
              <input type="text" class="form-control" [formControl]="fname" id="fname" placeholder="First name"  >
            </div>
            <div class="form-group col-md-6">
              <label>Lastname</label>
              <input type="text" class="form-control" [formControl]="lname"  id="lname" placeholder="Last name" required>
            </div>
          </div>
          <div class="form-row">
              <div class="form-group  col-md-6">
                  <label >Date of Birth</label>
                  <input type="date" [formControl]="dob"  class="form-control" id="dob"  required>
                </div>
          <div class="form-group  col-md-6">
            <label>Address</label>
            <input type="text" class="form-control" id="address" [formControl]="add" required>
          </div>  
        </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>City</label>
              <input type="text" class="form-control" id="city" [formControl]="city">
            </div>
            <div class="form-group col-md-4">
              <label>State</label>
              <select id="state" class="form-control" [formControl]="state">
                <option selected>Select</option>
                <option>Kerala</option>
                <option>Tamil Nadu</option>
                <option>Karnataka</option>
              </select>
            </div>
            <div class="form-group col-md-2">
              <label>Zip</label>
              <input type="text" class="form-control" id="zip" [formControl]="zip">
            </div>
          </div>
          <div class="from-row">
            <div class="form-group col-md-12" >
              <input type="radio" name="gender" value="Male"  [formControl]="gender" checked> Male
              <input type="radio" name="gender" value="Female" [formControl]="gender"> Female
              <input type="radio" name="gender" value="Other" [formControl]="gender"> Other
          </div>
        </div>
        <div class="button button-group">
          <div class="form-group col-md-6">
              <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
          </div>
          <div class="form-group col-md-6">
              <button type="button" class="btn btn-primary" (click)="onClear()">Clear</button>
          </div>
        </div>
        </form>
  </div>
  
  <div class="col-xs 5">
      <app-stud-details [student]="newStudent"  ></app-stud-details>
  </div>
</div>
